@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
/* Rubik Burned, Sedgwick Ave Display, Poetsen One
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  background-image: url("assets/chinigraphy-v0r5ORz2B-o-unsplash.jpg");
}

.add-section {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-size: 1.5em;
}

.ask-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.current-question {
  font-size: 1.4em;
  /* text-shadow: 2px 2px 2px #000; */
  font-family: "Poetsen One", serif;
  margin-top: 4vh;
  border: 2px solid rgb(75, 79, 69);
  padding: 20px;
  border-radius: 12px;
  max-width: 60vw;
  text-align: center;
}

.main-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  border: 2px solid black;
  color: black;
  font-size: 1.1em;
  border-radius: 10px;
  padding: 10px;
  margin-left: 2vw;
  text-decoration: none;
  margin-top: 2vh;
  font-family: "Sedgwick Ave Display", serif;
}

.link:hover {
  background-color: whitesmoke;
}

.draw-btn {
  padding: 10px;
  border-radius: 8px;
  background-color: #e1ff4a;
  font-size: 1.4em;
  font-family: "Sedgwick Ave Display";
}

.draw-btn:hover {
  background-color: #fff;
}
/* ----------------------------- */

@media (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }
}
