* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/engin-akyurt-X8YN3aOJ18I-unsplash.jpg");

  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
